/* hello world */
@use "@/variables";

.container {
  --container-width: 100%;
  --container-width-disponivel: calc(var(--container-width) - 2 * var(--main-padding));
  align-self: center;
  padding: var(--main-padding);
  width: var(--container-width);
  margin: auto;
  @media (min-width:  variables.$width-limit) {
    --container-width: #{  variables.$width-limit };
  }
  @media (min-width:   variables.$width-big-limit) {
    --container-width: #{  variables.$width-big-limit };
  }

}

.pageTitle {
  display: flex;

  & > *:first-child {
    flex: 1;
  }
}

.link {
  color: var(--link-color);
  text-decoration: underline;

  &:hover {
    color: var(--link-color-hover);
  }
}

.space {
  padding-bottom: 30px;
}

.panel {
  background-color: var(--background-green);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inactiveButton {
  background-color: var(--inactive-color);
}
